<aside id="parcours" class="callout">
  <div class="text-vertical-center">
    <div class="container">
      <h2>Parcours</h2>
      <hr class="small light">
      <div class="row parcours-row">
        <div class="col-sm-3">
          <i class="fa fa-graduation-cap fa-2x"></i>
          <h4>Centrale Lille</h4>
          <p>M1 Data Science<br>2026–2027</p>
        </div>
        <div class="col-sm-3">
          <i class="fa fa-university fa-2x"></i>
          <h4>École Centrale Casablanca</h4>
          <p>Cycle ingénieur<br>2024–2026</p>
        </div>
        <div class="col-sm-3">
          <i class="fa fa-book fa-2x"></i>
          <h4>CPGE MP</h4>
          <p>Lycée Technique de Mohammedia<br>2022–2024</p>
        </div>
        <div class="col-sm-3">
          <i class="fa fa-certificate fa-2x"></i>
          <h4>Baccalauréat C</h4>
          <p>Lycée Scientifique de Lomé<br>2022</p>
        </div>
      </div>
    </div>
  </div>
</aside>
